.table_header {
  font-size: 2.0em;
  font-weight: bold;
  text-transform: uppercase;
  color: white; 
}

.table_image {
  padding-left: 10px;
}

table {
  border-collapse: collapse; 
  width: 90%;
  margin: 20px auto;
  border: 2px solid white; 
}

td {
  padding: 10px;
  font-size: 1.3em;
  text-align: left;
}

.left_border {
  border-left: 4px solid white; 
  font-size: 1.0em;
  font-family: 'Arial', sans-serif; 
}

body {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #27205A; 
}

tr {
  border-bottom: 1px solid white; 
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 20px;
  color: white; 
}

h1:hover {
  transform: scale(1.1);
}

img {
  width: 150px;
  height: 150px;
  margin: 5px auto;
  border: 2px solid white;
  transition: transform 0.5s ease; 
}

img:hover {
  transform: scale(1.2); 
}

.venus:hover {
  background-color: #E87AB1;
  font-weight: bold;
  color: #A3577D;
}  

.jupiter:hover {
  background-color: #7ABBE8; 
  font-weight: bold;
  color: #5483A3;
}

.saturn:hover {
  background-color: #FCB05B; 
    font-weight: bold;
  color: #C88C49;
}

.mercury:hover {
  background-color: #D54747; 
  font-weight: bold;
  color: #8C3030;
}