.table_header {
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  color: black; 
}

.table_image {
  padding-left: 10px;
}

table {
  border-collapse: collapse; 
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ddd; 
}

td {
  padding: 15px;
  font-size: 1.2em;
  text-align: left;
}

.left_border {
  border-left: 4px solid #000000; 
  font-size: 1.1em;
  font-family: 'Arial', sans-serif; 
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5; 
}

tr {
  border-bottom: 1px solid #ddd; 
}

h1 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #333; 
}

h1:hover {
  transform: scale(1.05);
}

img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease; 
}

img:hover {
  transform: scale(1.1); 
}

.venus:hover, .jupiter:hover, .saturn:hover, .mercury:hover {
  font-weight: bold;
  color: white;
}

.venus:hover {
  background-color: #E87AB1; 
}

.jupiter:hover {
  background-color: #7ABBE8; 
}

.saturn:hover {
  background-color: #FCB05B; 
}

.mercury:hover {
  background-color: #D54747; 
}